.container10{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cartItemsContainer{
    position: relative;
    width: 150%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
}

.cartItem{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cartItemImg{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.cartInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItemName{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}