.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
}

label{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

input{
    width: 50%;
    max-width: 400px;
    margin-bottom: 1.5rem;
}

.item {
    color: black;
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.itemImage{
    width: 85px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 15px;
}

.itemName{
    font-size: 1.2rem;
    font-weight: bold;
}

.itemType{
    font-size: .8rem;
    color: #8e8e8e;
}