@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

input, select{
  outline: none;
  background-color: white;
  border: 1px solid black;
  width: 80%;
  border-radius: 5rem;
  padding: .5rem;
}

button{
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 35rem;
  outline: none;
  font-size: 1rem;
  padding: .5rem 4rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo h1,
.logo p {
  margin: 0;
  line-height: 1;
  padding: 0;
}

.logo h1 {
  font-size: 3rem;
}

.logo p{
  font-size: 2.2rem;
}

.copyright{
  font-size: .8rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 75%;
  transform: translateX(-50%);
}

.icon{
  width: 16px;
  height: 16px;
}